<form>
    Room options <br>
    <input name="room-privacy-type" value="Private Room" type="radio">Private Room<br>
    <input name="room-privacy-type" value="Public Room" type="radio">Public Room<br>

    <select name="room-players-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <button>Create!</button>

</form>