
.main {
    display: block;
    background-color: #fff;
    padding-top: 100px;
    padding-left: 20px;
}

.wrapper {
    position:static;
}

.gameboard {
    float: left;
    position:static;
    width: 1200px;
    height: 1200px;
    padding: 0 20px;
}

.fluid__column {
    min-width: 10px;
    overflow:hidden;
    background-color:#999999; 
}


/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
    position: relative;
    //  margin-bottom: 1px;
    float: left;
    padding-bottom: 8.7%;
    margin-left: 1px;
    width: 100px;
}

.card:nth-child(6),
.card:nth-child(56),
.card:nth-child(66),
.card:nth-child(116)
{
    background-color: plum;
}


/* card fronts and backs */
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__front {
    /* background: url("../images/clouds2.jpg"); */
    background-color: pink;
}

.card__back {
    background: url("../images/3apples_small.jpg");
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card__front:hover {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100px;
    height:100px;
    border:3px solid white;
}

/* click effect */
.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}



/* togetherjs */

/* Button set */
#togetherjs-dock {
    position: fixed;
    z-index: 10000;
    background-color: #0095dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /*border:1px solid #000;*/

}
#togetherjs-dock.togetherjs-dock-right {
    padding: 0;
    top: 150px;
    left: 5px;
    border-radius: 4px;
    height: 260px;
    width: 60px;
}

#togetherjs-dock.togetherjs-dock-right #togetherjs-dock-anchor-vertical {
    display: none;
}
#togetherjs-dock.togetherjs-dock-right #togetherjs-dock-anchor-horizontal {
    display: inline;
}
#togetherjs-dock.togetherjs-dock-right #togetherjs-dock-anchor-horizontal img {
    width: 31px;
    height: 7px;
    padding: 0px 2px 2px 2px;
    pointer-events: none;
}

#togetherjs-dock .togetherjs-button {
    float: right;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    margin: 0 0 0 5px;
}


/* General dock rules: */
.togetherjs #togetherjs-buttons .togetherjs-button {
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 60px;
    height: 60px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.togetherjs #togetherjs-buttons .togetherjs-button:hover {
    background-color: #0F81BF;
}
.togetherjs #togetherjs-buttons hr {
    padding: 0;
    margin: 0;
}

.togetherjs #togetherjs-buttons #togetherjs-share-button {

}
.togetherjs #togetherjs-buttons #togetherjs-share-button:hover {

}
.togetherjs #togetherjs-buttons #togetherjs-share-button.togetherjs-active {

    background-color: #0F81BF;
}
/*
.togetherjs #togetherjs-buttons #togetherjs-share-button {
  background-image: url('images/button-share.png');
}
.togetherjs #togetherjs-buttons #togetherjs-share-button:hover {
  background-image: url('images/button-share-active.png');
}
.togetherjs #togetherjs-buttons #togetherjs-share-button.togetherjs-active {
  background-image: url('images/button-share-active.png') !important;
  background-color: #0F81BF;
}


.togetherjs #togetherjs-buttons #togetherjs-chat-button {
  background-image: url('./images/button-chat.png');
}
.togetherjs #togetherjs-buttons #togetherjs-chat-button:hover {
  background-image: url('./images/button-chat-active.png');
}
.togetherjs #togetherjs-buttons #togetherjs-chat-button.togetherjs-active {
  background-image: url('./images/button-chat-active.png') !important;
  background-color: #0F81BF;
}
*/


.togetherjs .togetherjs-window {
    position: fixed;
    background-color: #ffffff;
    color: #000000;
    padding: 0 7px 0 7px;
    z-index: 10001;
    width: 286px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.togetherjs .togetherjs-window section {
    margin: 15px 7px;
}
.togetherjs .togetherjs-window > header {
    font-weight: bold;
    font-variant: normal;
    text-align: center;
    font-family: openSansRegular, Helvetica;
    color: #fff;
    margin: 0 -7px 0 -7px;
    padding: 10px 4px 5px 30px;
    height: 40px;
    background: #0095DD;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-bottom: 1px solid #0071A7;
}
.togetherjs .togetherjs-window .togetherjs-share-link {
    width: 256px;
    font-size: 12px;
    padding: 6px 6px 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    font-family: Monaco, sans-serif;
    margin: 7px 0px;
}
.togetherjs .togetherjs-window .togetherjs-share-link:focus {
    border: 1px solid #0095DD;
}

.togetherjs .togetherjs-window header button.togetherjs-close {
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    border-left: 1px solid #0071A7;
    float: right;
    font-weight: bold;
    cursor: pointer;
    background-image: url('./images/icon-close@2x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    width: 39px;
    height: 39px;
    margin-top: -10px;
    margin-right: -4px;
    border-top-right-radius: 4px;
}
.togetherjs .togetherjs-window header button.togetherjs-close:hover {
    background-image: url('./images/icon-close-active.png');
    background-color: rgba(0, 0, 0, 0.1);
}

.togetherjs .togetherjs-window share-window {

}
