.wrapper {
  width: 100%;
  margin: 0 auto;
    

}

.main {
  display: block;
  background-color: #fff;
  padding: 20px 0;
}



/* 
*
*
*/
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.wallpaper {
  position: relative;
  width: 1120px;
  height: 1120px;
  margin: 0 auto;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
  position: relative;
  margin-bottom: 1px;
  float: left;
  padding-bottom: 9.1%;
  padding-left: 1px;
  width: 100px;
  text-align: center;
}
/* 
.card:nth-child(0),
.card:nth-child(8),
.card:nth-child(72),
.card:nth-child(80)
{
  background-color: #fff;
}
*/

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
 /* background: url("../images/clouds2.jpg"); */
 background-color: pink;
}

.card__back {
  background: url("../images/3apples_small.jpg");
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__front:hover{
   box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:100px;
  height:100px;
  border:3px solid white;
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
