#parse("/templates/decorators/header.vtl")
#parse("/templates/decorators/board-header.vtl")

<div>
    <script src="/ponygame/js/socket-client.js"></script>
</div>

$jsHelper

#parse("/templates/decorators/footer.vtl")
