#parse("/templates/decorators/header.vtl")
#parse("/templates/decorators/board-header.vtl")

<button id="create_room_button">Create Room</button>

<script src="proto-for-backend/js/board.js"></script>

#parse("/templates/decorators/footer.vtl")
