<!DOCTYPE html>
<html>
<head>
    <title>PonyTail</title>
    <!-- css -->
    <link rel="stylesheet" href="css/client.css">

</head>
<body>

<div id="output"></div>

<script src="js/socket-client.js"></script>

</body>
</html>