<!DOCTYPE html>
<html>
<head>
    <title>PonyTail</title>
    <!-- css -->
    <link rel="stylesheet" href="css/client.css">

</head>

<body>

<button id="sendButton">Send</button>

<input id="inputText" type="text" value="Example"></input>

<br/>
Output:<br/>

<div id="output"></div>

<script src="js/socket-client.js"></script>

</body>

</html>