#parse("/templates/decorators/header.vtl")

<div>
    <button id="sendButton">Send</button>

    <input id="inputText" type="text" value="Example"></input>

    <br/>
    Output:<br/>

    <div id="output"></div>

    <script src="js/socket-client.js"></script>
</div>

#parse("/templates/decorators/footer.vtl")
