<form id="login-form" method="post" action="">
    <input name="user-name" value="testuser"></input><br/>
    <input name="user-password" value="testpassword"></input><br/>

    <button>Login</button>

    #if ($loginCredentialsInfo)
        <br>Input was invalid! Information: $loginCredentialsInfo.getMainMessage()
        <br>Additional info: $loginCredentialsInfo.getAdditinalInformation()
    #end

</form>

