<form id="login-form" method="post" action="">
    <input name="user-name" value="testuser"></input><br/>
    <input name="user-password" value="testpassword"></input><br/>

    <button>Login</button>

</form>

